.navegacao{
    background-color: rgb(0, 0, 0) !important; 
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(133, 179, 248));
}

.menu{
    background-color: rgb(0, 0, 0);
    /*o menu pega toda altura da tela*/
    height: 100vh;
    list-style: none;
    }

    .menu-item{
        color: aliceblue;
        padding: 8px 0px;
        text-decoration: none;
        font-size: 20px;
    }

    menu-item:hover{
    color: orange;
}

.fundoLogin{
    background-color: rgb(55, 104, 194);
    display: flex;
}

.painel{
    background-color: rgba(255, 255, 255, 0.315);
    width: 350px;
    height: 350px;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    padding: 15px;
    z-index: 2;
  
}
.cabecalho{
    color: rgb(55, 104, 194);
    text-align: center;
    font-size: 40px;
}
.botao:hover{
    background-color: red !important;
    border: red;
}

