@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Jersey+25+Charted&family=Pixelify+Sans:wght@400..700&display=swap');

body{

    font-family: "Pixelify Sans", sans-serif;
}




.Quadrado{
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 150px;
    border-radius: 15px;
    background-color: rgb(182, 140, 192);

}

.painel{
    background-color: rgb(242, 219, 252);
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    border-radius: 25px;
}

.Jogo{
    margin-left: auto;
    margin-right: auto;
}